@use "../../styles/abstracts" as *;

$track-width: 38px;
$track-height: 20px;
$thumb-size: 12px;
$thumb-offset: 4px;

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(24px);
  padding: rem(14px);
  border-radius: $radius-md;
  background-color: var(--color-surface-muted);
}

.option {
  font-size: rem(14px);
  font-weight: 500;
  color: var(--color-text-muted);
  transition: color $transition-fast;
}

.active {
  color: var(--color-text);
}

.switch {
  position: relative;
  width: rem($track-width);
  height: rem($track-height);
  border-radius: $track-height;
  background-color: var(--color-button);
  transition: background-color $transition-fast;

  @include hover {
    background-color: var(--color-button-hover);
  }
}

.thumb {
  position: absolute;
  top: 50%;
  inset-inline-start: rem($thumb-offset);
  width: rem($thumb-size);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-button-text);
  transform: translateY(-50%);
  transition: inset-inline-start $transition-base;

  [aria-checked="true"] > & {
    inset-inline-start: rem($track-width - $thumb-size - $thumb-offset);
  }
}
