@use "../../../styles/abstracts" as *;

.summary {
  padding: rem(16px);
  border-radius: $radius-md;
  background-color: var(--color-blue-50);

  @include mq(md) {
    padding: rem(16px) rem(24px) rem(24px);
  }
}

.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(16px);
}

.planName {
  font-size: rem(14px);
  font-weight: 500;

  @include mq(md) {
    font-size: rem(16px);
  }
}

.change {
  font-size: rem(14px);
  color: var(--color-grey-600);
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: color $transition-fast;

  @include hover {
    color: var(--color-purple-600);
  }
}

.planPrice {
  font-size: rem(14px);
  font-weight: 700;

  @include mq(md) {
    font-size: rem(16px);
  }
}

.addOns {
  display: grid;
  gap: rem(12px);
  margin-top: rem(12px);
  padding-top: rem(16px);
  border-top: 1px solid var(--color-purple-200);

  @include mq(md) {
    gap: rem(16px);
    margin-top: rem(24px);
    padding-top: rem(24px);
  }
}

.addOn {
  display: flex;
  justify-content: space-between;
  gap: rem(16px);
  font-size: rem(14px);
}

.addOnName {
  color: var(--color-grey-600);
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(16px);
  padding: rem(24px) rem(16px) 0;

  @include mq(md) {
    padding-inline: rem(24px);
  }
}

.totalLabel {
  font-size: rem(14px);
  color: var(--color-grey-600);
}

.totalPrice {
  font-size: rem(16px);
  font-weight: 700;
  color: var(--color-purple-600);

  @include mq(md) {
    font-size: rem(20px);
  }
}
