:root {
  --color-blue-950: hsl(213 96% 18%);
  --color-blue-800: hsl(213 70% 32%);
  --color-purple-600: hsl(243 100% 62%);
  --color-purple-400: hsl(243 100% 77%);
  --color-blue-300: hsl(228 100% 84%);
  --color-blue-200: hsl(206 94% 87%);
  --color-red-500: hsl(354 84% 57%);
  --color-grey-500: hsl(231 11% 63%);
  --color-grey-600: hsl(231 11% 47%);
  --color-purple-200: hsl(229 24% 87%);
  --color-blue-100: hsl(218 100% 97%);
  --color-blue-50: hsl(231 100% 99%);
  --color-white: hsl(0 100% 100%);

  --shadow-card: 0 25px 40px -20px hsl(0 0% 0% / 0.095);
}
